/* !!! SETUP !!! */
@viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
}
body, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
}

/* Background */
.hp-bg-img {
  background-image: url("fibre-background.jpg");
  height: 100vh;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: -2;
}

/* Navigation */
.hamburger-span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #66FCF1;
  margin: 6px 0;
}

.navbar-toggler {
  margin-right: 5px;
  border: none;
}

.navbar {
  box-shadow: 0 5px 5px -5px rgba(0,0,0, 0.5);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.bg-black {
  background-color: #000000 !important;
}

.navbar-brand {
  font-family: 'Hepta Slab', serif;
  font-weight: bold;
  color: #FAFAFA !important;
}

@media screen and (max-width: 479px) {
  .navbar-brand {
    font-size: 0.8em;
  }
}

.linkedin-logo {
  height: 20px;
}

.nav-link {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #66FCF1 !important;
  margin-left: 1vw;
  margin-right: 1vw;
}

.nav-link:hover {
  color: #FAFAFA !important;
}

.active {
  color: #FAFAFA !important;
}

/* Homepage Title */
.hp-title-container {
  width: 70vw;
  margin: 0px auto;
  text-align: center;
}

.hp-title-container h1 {
  margin-top: 30vh;
  font-family: 'Hepta Slab', serif;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #FAFAFA;
}

.hp-title-container h2 {
  margin-top: 3vh;
  font-family: 'Rubik', sans-serif;
  font-size: 1.9rem;
  color: #FAFAFA;
}

@media screen and (max-width: 991px) {
  .hp-title-container h1 {
    font-size: 2rem;
  }
  .hp-title-container h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .hp-title-container h1 {
    margin-top: 15vh;
    font-size: 1.6rem;
  }
  .hp-title-container h2 {
    font-size: 1rem;
  }
}

/* Main Content Container */
.main-hp-container {
  width: 100%;
  height: auto;
  margin: 20vh auto 0 auto;
  background-color: #FAFAFA;
}

@media screen and (max-width: 767px) {
  .main-hp-container {
    margin: 15vh auto 0 auto;
  }
}

.main-hp-container h1 {
  padding-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: 'Hepta Slab', serif;
  color: #45A29E;
  font-size: 1.5rem;
  text-align: center;
}

.main-hp-container h2 {
  padding-top: 2vh;
  padding-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: 'Barlow', sans-serif;
  color: #0B0C10;
  font-size: 1rem;
  text-align: center;
}

/* Project Cards */
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 0 30px 30px 30px;
}

@media screen and (max-width: 767px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

.card {
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.5s;
}

@media screen and (max-width: 991px) {
  .card {
    height: 300px;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.zoom-card-image {
  width: 100%;
  height: 100%;
  background-image: url('fibre-optics-card.jpg');
  border-radius: 10px 10px 10px 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: ease 1s;
}

.zoom-card-image-container {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.zoom-card-image-container:hover .zoom-card-image,
.zoom-card-image-container:focus .zoom-card-image {
  transform: scale(1.2);
}

.zoom-card-image::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(11, 12, 17, 0.7);
  transition: ease 1s;
}

.zoom-card-image-container:hover .zoom-card-image:before,
.zoom-card-image-container:focus .zoom-card-image:before {
  display: block;
}

.zoom-card h1, .zoom-card h2, .zoom-card h3 {
  display: none;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.zoom-card h2 {
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  color: #FAFAFA;
  top: 60px;
}

.zoom-card h1 {
  font-family: 'Hepta Slab', serif;
  text-transform: none;
  font-size: 1.5rem;
  color: #66FCF1;
  top: 75px;
}

.zoom-card h3 {
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  color: #FAFAFA;
  top: 105px;
}

@media screen and (max-width: 991px) {
  .zoom-card h1 {
    font-size: 1.1rem;
  }
  .zoom-card h3 {
    top: 100px;
  }
}

.zoom-card-image-container:hover h2,
.zoom-card-image-container:focus h2,
.zoom-card-image-container:hover h1,
.zoom-card-image-container:focus h1,
.zoom-card-image-container:hover h3,
.zoom-card-image-container:focus h3 {
  display: block;
}

/* Footer */
footer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". footer-top footer-top footer-top footer-top footer-top ."
    ". footer-nav-grid footer-connect-grid footer-connect-grid footer-amy-grid particles-grid ."
    ". footer-info-2 footer-info-2 footer-info-2 footer-info-2 particles-grid ."
    ". footer-title-grid footer-title-grid footer-title-grid footer-title-grid footer-title-grid .";
  grid-row-gap: 40px;
  background-color: #0B0C10;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  footer {
    grid-template-areas:
      ". footer-top footer-top footer-top footer-top footer-top ."
      ". footer-nav-grid . footer-connect-grid . footer-amy-grid ."
      ". footer-info-2 footer-info-2 footer-info-2 footer-info-2 particles-grid ."
      ". footer-title-grid footer-title-grid footer-title-grid footer-title-grid footer-title-grid .";
  }
}

@media screen and (max-width: 479px) {
  footer {
    grid-template-areas:
      ". footer-top footer-top footer-top footer-top footer-top ."
      ". footer-nav-grid . footer-connect-grid . footer-amy-grid ."
      ". footer-info-2 footer-info-2 footer-info-2 footer-info-2 footer-info-2 ."
      ". footer-title-grid footer-title-grid footer-title-grid footer-title-grid footer-title-grid ."
      ". particles-grid particles-grid particles-grid particles-grid particles-grid .";
  }
  #js-particles-small {
    height: 150px;
  }
}

.footer-info {
  grid-area: footer-top;
  border-top: 1px solid #45A29E;
  margin-top: 40px;
  padding-top: 20px;
}

.footer-navigation {
  grid-area: footer-nav-grid;
}

.footer-connect {
  grid-area: footer-connect-grid;
}

.footer-amy {
  grid-area: footer-amy-grid;
}

.footer-info-2 {
  grid-area: footer-info-2;
}

#js-particles-small {
  display: block;
  grid-area: particles-grid;
}

.footer-title {
  grid-area: footer-title-grid;
  font-size: 1rem;
  font-family: 'Hepta Slab', serif;
  color: #FAFAFA;
}

.footer-info p, .footer-navigation p, .footer-connect p, .footer-amy p {
  font-size: 0.75rem;
  color: #FAFAFA;
}

.footer-navigation a, .footer-connect a, .footer-amy a {
  font-size: 0.75rem;
  color: #45A29E;
}

.footer-info-2 p, .footer-info-2 a {
  font-size: 0.75rem;
  color: rgba(250,250,250, 0.4);
}
