/* !!! SETUP !!! */
@viewport {
	width: device-width;
	zoom: 1;
}
@-ms-viewport {
	width: device-width;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 16px;
}

/* GENERAL */

/* Background */
.hp-bg-img {
	background-image: url('../../images/fibre-background.jpg');
	height: 100vh;
	width: 100%;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: 0;
	z-index: -2;
}

#js-particles {
	height: 100vh;
	background-color: rgba(11, 12, 17, 0.6);
}

/* Main Content Container */
.main-abt-container {
	width: 100%;
	height: auto;
	margin: 20vh auto 20vh auto;
	background-color: #fafafa;
}

header {
	display: flex;
	padding-top: 5vh;
	margin: 0 5vw 10vh 5vw;
}

header img {
	align-self: flex-start;
	width: 150px;
	filter: grayscale(100%);
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

header h1 {
	align-self: flex-end;
	margin-left: auto;
	font-family: 'Hepta Slab', serif;
	color: #45a29e;
	font-size: 3rem;
}

.main-abt-container p {
	padding-bottom: 10vh;
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: 'Barlow', sans-serif;
	color: #0b0c10;
	font-size: 1rem;
	line-height: 1.7rem;
	text-align: center;
}

.list-flex {
	display: flex;
}

.list-1 {
	align-self: flex-start;
}

.list-2 {
	align-self: flex-end;
}

.list-flex ul {
	padding-bottom: 5vh;
	list-style-type: none;
	list-style-type: circle;
}

.list-flex li {
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: 'Barlow', sans-serif;
	color: #0b0c10;
	font-size: 1rem;
}

@media screen and (max-width: 991px) {
	.list-flex {
		margin-left: 5vw;
		margin-right: 5vw;
	}

	.list-flex li {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width: 767px) {
	.list-flex {
		display: block;
	}
}

@media screen and (max-width: 479px) {
	header {
		display: block;
		margin-bottom: 5vh;
	}

	header img {
		margin-bottom: 5vh;
	}
}
