/* !!! SETUP !!! */
@viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
}
body, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
}

#js-particles {
  height: 100vh;
  background-color: #0B0C10;
}

.main-pt-container {
  color: #0B0C10;
  font-size: 1rem;
  font-family: 'Barlow', sans-serif;
  padding-top: 50px;
  box-sizing: border-box;
  overflow: hidden;

  display: grid;
  grid-template-rows: calc(100vh - 50px) 100vh 100vh 100vh;
  grid-template-areas: "section-1"
                       "section-2"
                       "section-3"
                       "section-4";
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  height: 100%;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  background: #FAFAFA;
  color: #0B0C10;
  box-sizing: border-box;
}

.title {
  height: 100%;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  background: #FAFAFA;
  box-sizing: border-box;
}

.title h2 {
  font-size: 2rem;
  font-family: 'Hepta Slab', serif;
}

.project h2 {
  font-size: 3rem;
  font-family: 'Hepta Slab', serif;
}

.section-1 {
  grid-area: section-1;
  background-color: #45A29E;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-template-areas: "......... title-1"
                       "project-1 title-1"
                       "project-1 title-1"
                       "project-1 .......";
}

.project-1 {
  grid-area: project-1;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  position: relative;
}

.project-1::before {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  width: 90%;
  bottom: 0;
  right: 1rem;
  background-color: rgba(11, 12, 17, 0.3);
}

.title-1 {
  grid-area: title-1;
  color: #0B0C10;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.section-2 {
  grid-area: section-2;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-template-areas: "project-2 ......."
                       "project-2 title-2"
                       "project-2 title-2"
                       "......... title-2";
}

.project-2 {
  grid-area: project-2;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  clip-path: inset(0 -30px -30px -30px);
}

.title-2 {
  grid-area: title-2;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  position: relative;
}

.title-2::before {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  width: 70%;
  bottom: 0;
  left: 0.5rem;
  background-color: rgba(11, 12, 17, 0.3);
}

.section-3 {
  grid-area: section-3;
  background-color: #ff9742;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-template-areas: "......... title-3"
                       "project-3 title-3"
                       "project-3 title-3"
                       "project-3 .......";
}

.project-3 {
  grid-area: project-3;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  position: relative;
}

.project-3::before {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  width: 90%;
  bottom: 0;
  right: 1rem;
  background-color: rgba(11, 12, 17, 0.3);
}

.title-3 {
  grid-area: title-3;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  clip-path: inset(0 -30px -30px -30px);
}

.section-4 {
  grid-area: section-4;
  background-color: #45A29E;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-template-areas: "project-4 ......."
                       "project-4 title-4"
                       "project-4 title-4"
                       "......... title-4";
}

.project-4 {
  grid-area: project-4;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  clip-path: inset(0 -30px -30px -30px);
}

.title-4 {
  grid-area: title-4;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
